@import url('https://fonts.googleapis.com/css?family=Manjari');


body{
    background-color: rgb(247, 247, 247);
    

}
#root{
    width: 100% ;
    padding: 0;
}

.sidebar{
    background-color: #ECECEC;
        color: #3D7AAC;
        position: fixed;
        bottom: 0;
        left: 0;
        top: 0;
        width: 150px !important;

}

.sidebar img{
    width: 80%;
    margin-top: 10px;
}

.home-icon{
    margin-top: 15px;
}


.home-icon img{
    width: 35%;
    /*: #888888;*/
}

.home-icon p{
    margin-top: 0;
    font-family: 'Manjari', sans-serif;
}

.boards-sensors{
    display: block;
    width: 1000px;
    margin-left: 180px;
    margin-top: 10px;
    padding-left: 50px;


}

.boards-container{
    display: flex;

}

/*.boards-side{
}*/




.boards{
    background-color: #C4E2FB;
    display: inline-block;
    width: 630px;
    top: 10px !important;
    margin-bottom: 30px;
    padding-bottom: 20px;
    /*margin-top: 30px;
        position: fixed;
            margin-left: 170px;


    */
    height: 330px;
    border-radius: 10px;

    /*display: flex;
    flex-direction: row;*/

}



/**/
.side-board{
    display: inline-block;
    margin-left: 35px;
    /*background-color: #C4E2FB;     position: fixed;
*/
    margin-right: 30px;
    height: 340px;
    top: 10px !important;
    width: 300px;
    font-family:'Manjari', sans-serif;;
}

.profile{
    border-radius: 10px;
    background-color: #C4E2FB;
    border-radius: 10px;
    margin-top: 2px;
    margin-bottom: 10px;
    height: 100px;


}
.members{
    background-color: #C4E2FB;
    border-radius: 10px;
    height: 100px;
    margin-top: 23px;




}
.sensors-con{
    display: block;


}

.sensors{


display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
row-gap: 10px;

/*height: 150px;
    position: fixed;
    width: 965px;

    
    margin-top: 200px;
    display:flex;
    flex-direction: row;
    
    position: fixed;
    margin-top: 80px;
        margin-left: 170px;

    */
    bottom: 10px;

}





