@import url('https://fonts.googleapis.com/css?family=Manjari');

body{
    font-family: 'Manjari', sans-serif;

}
.external-con{
    margin: 130px auto 30px;
    max-width: 700px;
    padding: 9px 18px;
    border-radius: 10px;
}

.ex-con{
    background-color: #e6f0f9;;

    padding: 30px 40px;
    border-radius: 10px;
    box-shadow:  1px 1px 4px 1px rgba(0, 0, 0, 0.2);



}

.external-units{
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    color: rgb(172, 80, 0);



}

.eazy-logo{
    border-radius: 10px;
    background-color: white;
    color: #3D7AAC;
}

.eazy-logo img{
    width: 25%;
    padding-top: 10px;

}

.active-sensors{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
row-gap: 10px;
column-gap: 5px;
bottom: 15px;
}

.unit{
    box-shadow:  1px 1px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
    background-color: #5091b5;

}

.log img{
    width: 5%;
}

.log{
    padding-top: 5px;
    background-color: #C4E2FB; ;

    border-radius: 10px;
    margin-top: 15px;
    box-shadow:  1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}

.log p{
    color: #3D7AAC;

    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}