.hid{
    display: block;
    font-size: 1em;
    margin: auto;
    max-width: 950px;
    
}

form{
    align-items: center;
    width: 100%;
}



input{
    display: block;
    width: 300px;
    margin: 50px;
    
    
}

button{
    width: 315px;
    background-color: rgba(52, 113, 135, 0.756);

}

button .text{
    font-size: medium;
}


