@import url('https://fonts.googleapis.com/css?family=Manjari');
@import url('https://fonts.googleapis.com/css?family=Zilla Slab');


/*body{
    font-family: 'Manjari', sans-serif;}*/

#root{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.hid{
    display: block;
    font-size: 1em;
    margin: auto;
    max-width: 950px;
    align-items: center !important;

    
}

.hid form h2{
 font-family: 'Zilla Slab', Arial Narrow Bold;
 color: black;
 font-weight: 900;
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
 margin-top: 0;
 margin-bottom: 50px;

}

/*form{
    align-items: center;
    width: 100%;
}*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-bottom: 0.5rem;
}

form input, form select, form textarea {
    width: 300px;
    padding: 0.5rem;
    margin-bottom: 0.9rem;

    /*width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-top: 5px;*/
}



input::placeholder{
    font-family: 'Manjari', sans-serif;}

 button:focus, input:focus{
    border: 1px solid #3498db !important;
    outline: none !important;
}

button{
    width: 320px;
    color: white;
    background-color: rgb(80, 145, 181) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

button:active{
    background-color: rgb(163, 210, 235) !important;
}

button .text{
    font-size: medium;
}



.wrong-input {
    font-family: 'Manjari', sans-serif;
    margin-left: 320px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.wrong-input p {
    text-align: left;
    font-size: small;

}

.wrong-input span {
    color: #3498db;
}



