
.caption {
    margin-top: 10px;
    cursor: pointer; /* Add this to indicate clickable */

    width: 160px;
    
    border-radius: 5px;
    margin-right: 20px;
    box-shadow:  1px 1px 4px 1px rgba(0, 0, 0, 0.1);

  }
  
  .on {
    background-color: #C4E2FB; /* Choose your desired color for 'On' state */
  }
  
  .off {
    background-color: white; /* Choose your desired color for 'Off' state */
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
    /*margin-left: 1px;*/
    padding-top: 2px;
    margin-right: 5px;
    
  }


  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 13px;

  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #3D7AAC;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #3D7AAC;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .caption img{
    width: 40%;
    display: inline-block;

  }

  .Name-switch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
  }

  .keyName{
    display: flex; /* Use flexbox */
    font-family: 'Manjari', sans-serif;
    padding-bottom: 8px;}


  .s-name{
    font-size: 20px;
    margin-top: 5px;
    padding-left: 5px;}

    .s-shell{
      display: block;
    }

    .s-state{
      display: flex;
      padding-left: 5px;
    }



  